<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My web site</title>
    <link rel="stylesheet" href="@Url.Content("Content/css/general.min.css")">
    <script src="@Url.Content("Content/js/libraries/jquery.min.js")"></script>
    @RenderSection("styles", false)
    @RenderSection("scripts", false)
</head>
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>  
    </body>
</html>