@using DiaryMVC.Models;

@model NoteModel

<div class="note-container  @(@Model.Type.ToString().ToLower())">
    <div class="note-header">
        <span class="note-delete-button" data-id="@Model.Id">x</span>
        <span class="note-type">@Model.Type</span>
        <span class="note-title">@Model.Title</span>
    </div>
    <div class="note-content">        
        <span class="note-field note-date">Date: @Model.DateTime.ToString("R")</span>
        @if (!Model.Type.Equals(NoteTypeModel.Memo))
        {
            <span class="note-field note-due-date">Due to: @Model.DueDateTime.Value.ToString("R")</span>
        }

        @if (Model.Type.Equals(NoteTypeModel.Meeting))
        {
            <span class="note-field note-place">Place: @Model.Place</span>
        }
        <span class="note-field note-status">Status: @(Model.Done ? "Done": "Not Done")</span>
        <div class="note-actions">
            <button class="note-set_status-button" data-id="@Model.Id" data-status="@(Model.Done ? false: true)">Set as "@(Model.Done ? "Not Done": "Done")"</button>
        </div>
    </div>
</div>
