@model DiaryMVC.Models.NoteModel

<div class="note-container  @(@Model.Type.Name.ToLower())">
    <div class="note-header">
        <!--TODO use key in class?-->
        <span class="note-type">@Model.Type.Name</span><span class="note-title">@Model.Title</span>
    </div>
    <div class="note-content">        
        <span class="note-field note-date">Date: @Model.DateTime.ToString("R")</span>
        <!--TODO use other method to check type-->
        @if (Model.Type.Name != DiaryMVC.Models.NoteTypeModel.Memo.Name)
        {
            <span class="note-field note-due-date">Due to: @Model.DueDateTime.Value.ToString("R")</span>
        }

        @if (Model.Type.Name == DiaryMVC.Models.NoteTypeModel.Meeting.Name)
        {
            <span class="note-field note-place">Place: @Model.Place</span>
        }
        <span class="note-field note-status">Status: @(Model.Done ? "Done": "Not Done")</span>
    </div>
</div>
