@using DiaryMVC.Models;

@model DiaryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--TODO move to bundle maybe-->
    <link rel="stylesheet" href="@Url.Content("Content/less/diary/diary.min.css")">
}
@section scripts{
    <!--TODO move to bundle maybe-->
    <script src="@Url.Content("Content/js/diary/diary.js")"></script>
    <script src="@Url.Content("Content/js/diary/diaryPopupService.js")"></script>
    <script src="@Url.Content("Content/js/diary/noteService.js")"></script>
    <script src="@Url.Content("Content/js/diary/viewModes/dayViewMode.js")"></script>
    <script src="@Url.Content("Content/js/diary/viewModes/listViewMode.js")"></script>
}

<div class="diary @Model.Mode.Key">
    @Html.Partial("Diary/DiaryPopup")
    <div class="diary-header">
        @Html.Partial("Diary/Controls", Model);
    </div>
    <div class="diary-body">
        <div class="diary-content">
        </div>
    </div>
</div>
<script>
    var diary = new Diary("@Model.Mode.Key", ".diary", ".diary .diary-content");
    diary.init();
</script>

