@using DiaryMVC.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--TODO move to bundle maybe-->
    <link rel="stylesheet" href="@Url.Content("Content/less/diary/diary.min.css")">
}
@section scripts{
    <!--TODO move to bundle maybe-->
    <script src="@Url.Content("Content/js/diary/diary.js")"></script>
    <script src="@Url.Content("Content/js/diary/diaryPopupService.js")"></script>
    <script src="@Url.Content("Content/js/diary/noteService.js")"></script>
}

<div class="diary @DiaryViewMode.List.Key">
    <div class="diary-popup active">
        <div class="popup-content">
            <div class="controls">
                <span class="popup-close-button">x</span>
            </div>
            <div class="content popup-type-class-name">
                popup content
            </div>
        </div>
    </div>
    <div class="diary-header">
        @Html.Partial("Diary/Controls")
    </div>
    <div class="diary-body">
        <div class="diary-content">
        </div>
    </div>
</div>
<script>
    var diary = new Diary("@DiaryViewMode.List.Key", ".diary", ".diary .diary-content");
    diary.init();
</script>

